.App-header {
  background-color: #F7F9FC;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color:#000;;
  margin: 0%;
  padding: 8px 15%;
}

.image_1 {
  height: 300px;
  display: block;
  margin: 20px auto;
}

.padding{
  padding-top: 50px;
}

.image_2 {
  display: block;
  margin: auto;
  width: 100px;
}

.image_3{
  display: block;
  margin: auto;
}

.text-center{
  text-align: center;
}

.right{
  float: right;
}

.arrow{
  cursor: pointer;
}

.box{
  background-color: #1159DA;
  color: white;
  padding: 15px 60px;
  border-radius: 25px;
  overflow: hidden;
}

.button{
  text-align: center;
  border-radius: 5px;
  background-color: #1159DA;
  color: white;
  margin: 8% 25%;
  padding: 2% 0;
  cursor: pointer;
  border-style: none;
}


label{
  display: block;
}

.input{
  width: 100%;
  height: 60px;
  outline: none;
  border-style: none;
}

.ButtonGroup{
  display: flex;
}

.link{
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.submit{
  padding: 2% 15%;
  font-size: 24px;
}

.blue-text{
  color: #1159DA;
}

.square{
  margin: 2%;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
  padding: 10px;
  border-radius: 3%; 
  box-shadow: 1px 1px 3px;
  cursor: pointer;
}

.flex-item-left {
  width: 20%;
  align-self: center;
}

.flex-item-right {
  width: 80%;
  margin: auto;
}

.flex-item-middle {
  width: 60%;
  margin: auto;
}

.flex-item-right h4{
  margin: 0;
}

.flex-item-right p{
  margin: 0;
}

.flex-item-middle h4{
  margin: 0;
}

.flex-item-middle p{
  margin: 0;
}

.box-center{
  width: 80%;
  display: block;
  margin: 0 10%;
}

.right-align{
  padding: 0 10%;
}

.flex-item{
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0;
}

.rectangle{
  overflow: hidden;
  cursor: pointer;
  border-radius: 3%; 
  box-shadow: 1px 1px 3px;
  margin: 0 2%;
  padding: 10px 20px;
  color: #1159DA;
}

.rectangle-clone{
  overflow: hidden;
  cursor: pointer;
  border-radius: 3%; 
  box-shadow: 1px 1px 3px;
  margin: 2%;
  padding: 10px 20px;
  width: 50%;
  text-align: center;
}

.circle{
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px; 
  box-shadow: 1px 1px 3px;
  margin: 0 1%;
  padding: 20px;
  color: #1159DA;
}

.circle:active, .rectangle:active{
  background-color: #1159DA;
  color: white;
}

.demo{
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
  cursor: pointer;
  width: 50%;
}

.flex-item-main {
  width: 5%;
  padding: 20px;
  align-self: center;
}

.demo1{
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
  cursor: pointer;
  width: 25%;
}

.folder{
  background-color: white;
  width: 80%;
  padding: 10px;
}

.cap{
  overflow: hidden;
  cursor: pointer;
  border-radius: 3%; 
  box-shadow: 1px 1px 3px;
  margin: 0 5%;
  padding: 10px 20px;
  color: #1159DA;
  height: 300px;
  width: 200px;
  text-align: center;
  line-height: 50px;
}

.add{
  display: block;
  margin: 20px auto;
  margin-top: 15%;
  height: 100px;
}

.search{
    width: 80%;
    height: 60px;
    outline: none;
    border: 1px solid #1159DA;
    padding-left: 2%;
    font-size: 24px;
}

.right{
  display: flex;
  float: right;
  margin-left: 50%;
}

.right select{
  color: #1159DA;
  outline: none;
  border-style: none;
  font-size: 24px;
  font-weight: bold;
}

.flex-item-clone{
  display: flex;
  flex-wrap: wrap;
}