.App-header {
  background-color: #6299f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  width: 100%;
}

.home {
  background-color: #F7F9FC;
  color: #000;
  max-height: 100vh;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

.section_home{
  padding: 2.6%  50px;
}

.section_onBoard{
  padding: 3%  50px;
}

.section_reg{
  padding: 7.5%  50px;
}

.section_ver{
  padding: 11.4%  50px;
}

.image_1 {
  display: flex;
  margin: auto;
}

.text-center{
  text-align: center;
}

.right{
  float: right;
}

.arrow{
  cursor: pointer;
}

.box{
  background-color: #1159DA;
  color: white;
  padding: 50px 60px 100px 60px;
  border-radius: 25px;
}

.button{
  text-align: center;
  border-radius: 5px;
  background-color: #1159DA;
  color: white;
  margin: 10% 25% 0 25%;
  padding: 2% 0;
  cursor: pointer;
  border-style: none;
}

label{
  display: block;
}
.input{
  width: 100%;
  height: 50px;
  outline: none;
  border-style: none;
}

.ButtonGroup{
  display: flex;
}

.link{
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.submit{
  width: 50%;
  height: 50px;
  font-size: 16px;
}

.blue-text{
  color: #1159DA;
}

.square{
  margin: 2%;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  margin: 5% 10%;
  padding: 10px;
  border-radius: 3%; 
  box-shadow: 1px 1px 3px;
  cursor: pointer;
}

.flex-item-left {
  width: 20%;
  align-self: center;
}

.flex-item-right {
  width: 80%;
}

.flex-item-right h4{
  margin: 0;
}

.flex-item-right p{
  margin: 0;
}

.box-center{
  width: 80%;
  display: block;
  margin: 0 10%;
}

.right-align{
  padding: 0 10%;
}

.flex-bottom{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px;
  margin-top: 8%;
}

.inside{
  display: block;
  margin: auto;
  text-align: center;
  padding: 2%;
  cursor: pointer;
}